shopping_cart/WebContent/wsdl/ProductDao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSingleProduct">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSingleProductResponse">
    <complexType>
     <sequence>
      <element name="getSingleProductReturn" type="impl:Product"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Product">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="image" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="getTotalCartPrice">
    <complexType>
     <sequence>
      <element name="cartList" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getTotalCartPriceResponse">
    <complexType>
     <sequence>
      <element name="getTotalCartPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllProducts">
    <complexType/>
   </element>
   <element name="getAllProductsResponse">
    <complexType>
     <sequence>
      <element name="getAllProductsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCartProducts">
    <complexType>
     <sequence>
      <element name="cartList" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCartProductsResponse">
    <complexType>
     <sequence>
      <element name="getCartProductsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTotalCartPriceResponse">

      <wsdl:part element="impl:getTotalCartPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSingleProductRequest">

      <wsdl:part element="impl:getSingleProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCartProductsResponse">

      <wsdl:part element="impl:getCartProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductsResponse">

      <wsdl:part element="impl:getAllProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductsRequest">

      <wsdl:part element="impl:getAllProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCartProductsRequest">

      <wsdl:part element="impl:getCartProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTotalCartPriceRequest">

      <wsdl:part element="impl:getTotalCartPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSingleProductResponse">

      <wsdl:part element="impl:getSingleProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductDao">

      <wsdl:operation name="getSingleProduct">

         <wsdl:input message="impl:getSingleProductRequest" name="getSingleProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSingleProductResponse" name="getSingleProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotalCartPrice">

         <wsdl:input message="impl:getTotalCartPriceRequest" name="getTotalCartPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTotalCartPriceResponse" name="getTotalCartPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProducts">

         <wsdl:input message="impl:getAllProductsRequest" name="getAllProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllProductsResponse" name="getAllProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCartProducts">

         <wsdl:input message="impl:getCartProductsRequest" name="getCartProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCartProductsResponse" name="getCartProductsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductDaoSoapBinding" type="impl:ProductDao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSingleProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSingleProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSingleProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotalCartPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTotalCartPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTotalCartPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCartProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCartProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCartProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductDaoService">

      <wsdl:port binding="impl:ProductDaoSoapBinding" name="ProductDao">

         <wsdlsoap:address location="http://localhost:8080/shopping_cart/services/ProductDao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
