shopping_cart/WebContent/wsdl/UserDao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="userLogin">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userLoginResponse">
    <complexType>
     <sequence>
      <element name="userLoginReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="userLoginRequest">

      <wsdl:part element="impl:userLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userLoginResponse">

      <wsdl:part element="impl:userLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserDao">

      <wsdl:operation name="userLogin">

         <wsdl:input message="impl:userLoginRequest" name="userLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:userLoginResponse" name="userLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserDaoSoapBinding" type="impl:UserDao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="userLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="userLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="userLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserDaoService">

      <wsdl:port binding="impl:UserDaoSoapBinding" name="UserDao">

         <wsdlsoap:address location="http://localhost:8080/shopping_cart/services/UserDao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
